*{
     box-sizing:  border-box;

}

body{

	font-family: "Roboto";
	font-size:  13px;
}



.container{
    width:  1140px;
    margin:  0 auto; /*Arriba derecha abajo izquierda. orden de la margen*/
    padding-right: 15px;
    padding-left: 15px;
    position:  relative;

}

header .container .hamb{
    display: none;
}

.row {
    /*Para aprovechar las columnas unas al lado de las otras se coloca flex*/
     display:  flex;
     flex-wrap:  wrap; /*Si dejamos nowrap todas las columnas van en una sola fila, si es wrap pasa abajo si es grande*/
     margin-left: -15px;  /*Para no quitar paddings*/
     margin-right: -15px;

}

.container-fluid{
   width:  100%;
    padding-right: 15px;
    padding-left: 15px;
   position:  relative;

}

.boton {
       text-align:  center;
       text-decoration:  none;
       padding:  15px 20px;
       border: none;

}

.boton.boton-rojo{
      color:  white;
      background-color:  red;
      font-size:  20px;
      font-weight:  bold;
}

.boton.boton-negro{
      color:  white;
      background-color:  black;
      font-size:  20px;
      font-weight:  bold;
}


.boton.boton-blanco{
      color:  red;
      background-color:  white;
      font-size:  20px;
      font-weight:  bold;
      border:  1px solid red;
}


p { color: black; }

a{ 
  display:  inline-block; /*Los elementos inline solos no se puede dar alto*/
  text-decoration: none;

 }

header {
            position:  fixed;   /*Para que el menu no se mueva*/
            top:  0;
            left:  0;
            z-index:  2;
            padding: 15px 0;    
            background-color: white;
            width:100%              

}

header .container{

  display : flex;
  justify-content: space-between;  /*Los elementos si son dos, se acomodan derecha, izquierda, si no pongo esa linea se acomodan juntos*/
  align-items: center;  /*acomodacion respecto al eje y*/
}

header .container nav a{

  color:  red;  /*Para cambiar color de los enlaces localmente*/
  text-decoration:  none;  /*Quitar linea de bajado de los enlaces*/
  margin:  0 15px 0 15px;
}


header .container .logo{

    width:  100px;
}

footer
{  
    background-color: black;
    color: white; 
    padding-top:  60px; 
}


footer ul{
     padding-left: 0;
     list-style:  none;
     margin: 0;
}

footer ul li{
     margin-bottom: 10px ;



}

footer .redes{
    font-size: 30px;
    display: flex;
    
}

footer .redes a {
    margin:  0 7.5px;
}

footer a{
       color:  white;

}

footer p{
    color:  white;
    margin-bottom: 30px;

}

footer .logo-footer{

    width: 100%;
    
}
footer .barra-footer{

    background-color:  grey;
    text-align:  center;
    padding-right:  15px;
    padding-left:  15px;
    padding-top:  20px;
    padding-bottom: 20px;
}

.columna {

    padding-left:  15px;
    padding-right:  15px;
}


.columna-33 {

    width: 33.33%; /*Se pone en porcentaje porque responsive para celular*/
}

.columna-50{ 
 width: 50%; }

.columna-25{
   width:  25%;

 }

 .empujar-50{
    margin-left:  50%;
 }

 .empujar-0{
    margin-left: 0;
 }

/*para el atributo id*/
#inicio 
{
      position:  relative;   /*Para poder usar bottom, right, top, z-index y mantenga el espacio*/


}

#inicio img 
{  width: 100%;
   display:  block; 
	           /*Para no generar espacio de unos pocos pixeles y cubrir toda la pantalla*/
}



#nosotros{
       background-image:  url(img/latas.jpg);
       background-size:  cover; /*Cubre todo el tamaño que tenga la seccion*/
       color:  white;
       text-align:  center;


}

#nosotros p {

     color:  white;
     text-align:  center;
     font-size: 16px;
     /*margin: 0;*/
}

.seccion{

    padding-top:  60px;
    padding-bottom : 60px;
}



#inicio .bloque-inicio {

	position:  absolute;  /*se usa absolute para superponerse encima de otro bloque*/
	top:  40% ;
    left:  50%;
    width: 400px;
    text-align:  center;  /*Se centran elementos inline*/
    margin-left:  -200px;
}

#inicio .bloque-inicio h1{  
         color:  white;
         font-size:  35px;
 }

 #inicio .bloque-inicio p{  
         color:  white;
         font-size:  16px;
 }

 #servicios .bloque-servicio {

    border:  1px solid darkgrey;
 }

 .bloque-img-servicio img {

     width: 100%;  /*Para controlar el tamaño de la imagen, no sea mas grande que la columna*/
 }

 .cuadrado-perfecto {
     width:  100%;  /*No se puede usar height porque depende de la cantidad de texto*/
     padding-bottom: 100%;
     position:  relative;

 }

 .bloque-img-servicio.cuadrado-perfecto{

    padding-bottom: 56.25%;
 }

 .cuadrado-perfecto img {
     width: 100%;
     height:  100%;  /*El alto del cuadrado perfecto*/
     object-fit:  cover;
     object-position: center;
     position:  absolute;
     top:  0;
     left:  0;

 }

 .bloque-contenido-servicio {

     padding:  15px;
 }

 .bloque-contenido-servicio h3{

     margin: 0;
     font-size: 25px;
 }

 #galeria{   }

 #galeria h4{
    padding-right: 15px;
    padding-left:  15px;
    text-align: center;
    position:  absolute;
    top: 40%;
    color: white;
    font-size:  18px;
    width:  100%;
 }

 #galeria img{

    filter: grayscale(1);  /*Escala de grises*/
    /*hue-rotate():  para hacer un degradado*/

 }

 #galeria .cuadrado-perfecto:hover img {/*Hover significa que cuando el mouse entre al cuadrado perfecto*/
     filter:  grayscale(0);  /*Color natural*/

 }

 #galeria .cuadrado-perfecto:hover h4 {/*Hover significa que cuando el mouse entre al cuadrado perfecto*/
     display:  none;   /*Desaparecer, no desplegar*/

 }

 #contactenos{
    position:  relative;
 }

 #contactenos iframe{
    position:  absolute;
    top:  0;
    left:  0;
    width: 100%;
    height:  100%;  /*El alto del formulario*/
    filter:  grayscale(1);
 }

 #contactenos label{

    font-weight: bold;
    font-size: 14px;
    display:  block;
 }

 #contactenos form{
     padding:  60px;
     background-color: red;

 }

 #contactenos form .form-block{
   width: 100%;
   margin-bottom:  15px; /*Para separar cada elemento del bloque*/

 }

 #contactenos form .form-block .form-control{
   display:  block; /*Los inputs son inline por defecto*/
   height:  40px;
   font-size: 16px;
   border:  1px solid grey;
   width: 100%;
   padding:  5px 10px;

 }

  #contactenos form .form-block textarea{
   display:  block; /*Los inputs son inline por defecto*/
   height:  100px;
   font-size: 16px;
   border:  1px solid grey;
   width: 100%;
   padding:  5px 10px;

 }

 #contactenos form .form-block.bloque-ultimo{
   margin-bottom: 0;

 }
 @media(max-width: 767px)  /*Tamaño máximo pantalla de celular*/
 {   .container{
       width: 100%;        /*Dentro de este parentesis funciona en los dispositivos de ancho maximo 767px*/
      }
    header .container nav{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-right: 15px;
        padding-left:  15px;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        transition: all 0.4s ease;
        transform: translateX(100);
    }

    header .container nav a {
        font-size: 30px;
        margin: 15px 0;

    }

    .hamb {
           display: block;
           font-size: 40px;
           color: red;

    }

    #inicio { height:100vh }   /*100vh es el alto del dispositivo*/

    #inicio img{
           height: 100%;
           object-fit: cover;
           object-position: center;

    }

    .columna-mobile-100{
        width: 100%;
    }

    .columna-mobile-50{
        width: 50%;
    }

    body{
        font-size: 15px;
    }

    #servicios .bloque-servicio {

    margin-bottom: 15px;
 }

 #contactenos {padding: 0;}

 #contactenos iframe{
           position: relative;
           height: 50vh;

 }
.empujar-mobile-0 { margin-left:0; }
.sinpadding-mobile{padding: 0;}

form .boton .boton-negro{
    width: 100%;
}

footer{ text-align:center; }
footer .logo-footer{
    width: 50%;
}

footer .redes{
    justify-content: center ;
}
 } 
 /*758px para tablets*/